* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
html {
    margin: 0;
}



/* NAVBAR  */

.navbar {
    width: 100%;
    height: 100vh;
    background-image: url(home_cover.jpg);
    background-size: cover;
    box-shadow: 0 1px 5px;
}
                                    /* LOGO */
.logo {
    position: absolute;
    top: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, .2);
}
.logo-image {
    width: 64px;
    height: 64px;
}
.logo-image img {
    width: 64px;
    height: 64px;
}
.logo p {
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 4px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;

}



.nav-links-icon {
    font-size: 2rem;
}

                                    /* Checkbox for Menu TOGGLE Button */
.checkbox {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 53px;
    right: 10px;
    opacity: 0;
    z-index: 5;
    cursor: pointer;
}
                                /* Navigation Links on Navbar  */
.nav-links a {
    text-decoration: none;
    color: rgb(255, 255, 255); 
    display: block;
    padding: 25px;
    font-size: 1.2rem;
    text-shadow: 2px 2px 2px black;
}
                                /* social media icons in navbar for small screens  */


                            
.nav-links {
    height: 100vh;
    background-color: rgba(255, 255, 255, .6);
}

.nav-links a:hover {
    font-weight: bold;
    font-size: 1.3rem;
} 
                                        /* navigation links TRANSITION */
                    .nav-links {
                        text-align: left;
                        position: absolute;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        padding-top: 100px;
                        transform: translate(-150%);
                        transition: transform .5s ease-in-out;
                        z-index: 1;
                    }
                                            /* navigation TOGGLE Buttons */
.nav-toggle {
    height: 1.2rem;
    width: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 15px;
    top: 60px;
}
                                /* TOGGLE ICONS */
.bar {
    height: 3px;
    width: 100%;
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    display: block;
}

.nav-toggle-cross {
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 11px;
    top: 59px;
    opacity: 0;
}

.cross {
    height: 3px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: block;
}

.nav-links-socialmedia {
    display: flex;
    flex-direction: column;
}
                                                        /* ANIMATION */
            .nav-container .nav-toggle-cross .cross-1 {
                transform-origin: 0% 100%;
                transform: rotate(45deg);
            }

            .nav-container .nav-toggle-cross .cross-2 {
                transform-origin: -15% -10%;
                transform: rotate(-45deg);
            }

                    .nav-container input[type="checkbox"]:checked ~ .nav-links {
                        transform: translate(0);
                    }

                    .nav-container input[type="checkbox"]:checked ~ .nav-toggle {
                        display: none;
                    }

                    .nav-container input[type="checkbox"]:checked ~ .nav-toggle-cross {
                        opacity: 1;
                    }


                   /* MEDIA TRANSITION FOR MENU  */
                   @media (min-width : 915px) {
                    .nav-toggle {display: none;}
                    .nav-toggle-cross {display: none;}
                    .checkbox {display: none;}
                    .nav-links-socialmedia {display: none;}
                    
                    .logo {
                        height: 100px;
                    }
                    .logo p {
                        font-size: 1.5rem;
                        margin-left: 10px;
                        color: white;
                        text-shadow: 2px 2px 2px black;
                    }
                    .logo-image {
                        width: 100px;
                        height: 100px;

                    }
                    .logo-image img {
                        width: 100px;
                        height: 100px;
                    }
                   
                    .navbar {
                        width: 100%;
                        height: 100vh;
                        background-image: url(home_cover_bigscreen.jpg);
                        background-size: cover;
                        
                    }

                    
                    .nav-links {
                        transform: translate(0);
                        height: 70px;
                        width: auto;
                        display: flex;
                        flex-direction: row;
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin: 0;
                    }

                    .nav-links-main {
                        display: flex;
                        margin: 0;
                        padding: 0;
                        position: absolute;
                        top: 10px;
                        right: 0;
                    }

                }


/* MAIN                      */

.cover-container {
    display: flex;
    justify-content: center;
}

.cover {
    width: 100%;
    height: auto;
}

.cover-big {
    display: none;
}

.content {
    padding: 15px;
}        
.about {
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 1px 2px 5px;
    padding: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
}

    /* PRINCIPAL */

    .principal {
        margin-top: 30px;
        margin-bottom: 20px;
        padding: 8px;
        padding-top: 10px;
        border-radius: 10px;
        background-color: aliceblue;
        box-shadow: 1px 2px 5px;
    }
    .message {
        text-align: justify;
        margin-top: 10px;
        font-size: .85rem;
    }
    .principal-image {
        width: 230px;
        height: 230px;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
        box-shadow: 1px 2px 5px;
    }
    .principal-image img {
        height: 230px;
        border-radius: 10px;
    }
    .designation {
        font-size: .9rem;
        font-weight: 600;
    }


                /* ADMISSIONS PAGE */

                .admission-box {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 80px;
                    background-color: rgba(255, 255, 255, .5);
                    padding-top: 0px;
                    padding-bottom: 98px;
                    z-index: 0;
                }
                .admission-image img {
                    width: 100%;
                    height: auto;
                    box-shadow: 2px 2px 10px black;

                }

footer {
    height: auto;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
}
.footer-box2 {
    padding-top: 50px;
}
.empty {
    height: 6px;
    background-color: white;
}
.design {
    padding: 0;
    margin: 0;
    background-color: #222;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    color: #999;
    height: 36.38px;
}
.design a{
    color: #999;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0;
}
.design-logo img{
    width: 100px;
    margin-left: 20px;
}


.contact .icon {
    color: white;
    margin-top: 20px;
}

.contact a {
    text-decoration: none;
}


.address {
    padding-top: 20px;
    padding-bottom: 50px;
}

.map iframe {
    padding: 25px;
    width: 100%;
    height: 300px;
}







                     @media (min-width : 915px) {

                        .admission-box {
                            
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            top: 100px;
                            background-color:rgba(255, 255, 255, .5);
                            padding-top: 0px;
                            padding-bottom: 0px;
                        }
                        .admission-image img {
                            height: 88.9vh;
                            box-shadow: 2px 2px 10px black;
                        }
                
                .about-container {
                    display: flex;
                    justify-content: center;
                }
                .about {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    margin-top: 30px;
                    margin-bottom: 15px;
                    width: 70%;
                }
                .principal-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 100%;
                    margin-bottom: 10px;
                }
                .principal {
                    border-radius: 10px;
                    padding: 10px;
                    width: 70%;
                }
                .principal h2 {
                    text-align: center;
                }
                .principal-image {
                    margin-top: 20px;
                    float: left;
                    margin-right: 20px;
                }
                .designation {
                    font-weight: 600;
                    font-size: 1rem;
                }
                .message {
                    float: inherit;
                    margin-bottom: 20px;
                    margin-top: 20px;
                    font-size: 1rem;
                }                
                  
                
                /* FOOTER */

                
                .footer-box1 {
                    display: flex;
                    justify-content: center;
                    
                }
                .footer-box2 {
                    display: flex;
                    align-items: center;
                }
                .map {
                    padding: 25px;
                }
                .contact {
                    padding: 25px;
                }
                
            }