* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-align: center;
}


.box1 {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
